/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
kafka-producer/.apt_generated
kafka-producer/.classpath
kafka-producer/.factorypath
kafka-producer/.project
kafka-producer/.settings
kafka-producer/.springBeans
kafka-producer/.sts4-cache
kafka-producer/.mvn

kafka-producer/*.log
kafka-producer/target/



kafka-consumer/.apt_generated
kafka-consumer/.classpath
kafka-consumer/.factorypath
kafka-consumer/.project
kafka-consumer/.settings
kafka-consumer/.springBeans
kafka-consumer/.sts4-cache
kafka-consumer/.mvn

kafka-consumer/*.log
kafka-consumer/target/

